@import "./variables.scss";

.wrapper {
   height: 100%;
   width: calc(100vw - 100px);
   margin: 50px auto;
   background-color: #fff;
   border-radius: 25px;
   .content {
      display: flex;
      flex-direction: column;
      background-color: blueviolet;
      height: 90%;
      min-height: 600px;
      .container {
         display: flex;
         flex-direction: column;
         padding: 0 50px;
         .content-title {
            margin-left: 20px;
            margin-top: 15px;
            font-size: 40px;
            color: #fff;
         }
         .content-items {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 20px;
         }
         .content-top {
            display: flex;
            flex-direction: row;
         }
      }
   }
}
