header {
   background-color: #fff;
   width: 100%;
   height: 10%;
   top: 0;
   display: flex;
   justify-content: space-between;
   flex-direction: row;

   .container-menu {
      cursor: pointer;
      display: flex;
      align-items: center;
      background-color: #fff;
      min-width: 300px;
      gap: 10px;
      padding: 15px;
      a {
         color: black;
         width: 100%;
         height: 100%;
      }
      .title-container {
         display: flex;
         flex-direction: column;
         .title {
         }
         .title-info {
            color: rgba(43, 43, 43, 0.7);
         }
      }
   }
   .container-cart {
      background-color: #fff;
      width: 20%;
      a {
         width: 100%;
         height: 100%;
      }
      .cart {
         width: 80%;
         height: 60%;
         background-color: rgb(255, 123, 0);
         border-radius: 100px;
         transition: 0.3s;
         &:hover {
            background-color: rgb(247, 171, 101);
         }
         .money-btn {
            height: 100%;
            width: calc(50% - 12.5px);
            cursor: pointer;
            span {
               color: #fff;
               font-weight: bold;
               font-size: 20px;
            }
         }
         .delimiter {
            width: 2px;
            height: 25px;
            background-color: rgba(255, 255, 255, 0.25);
         }
         .cart-btn {
            height: 100%;
            width: calc(50% - 12.5px);
            cursor: pointer;
            span {
               color: #fff;
               font-weight: bold;
               font-size: 20px;
               margin-left: 5px;
            }
         }
      }
   }
}
